// Specific CSS for your home-page

.home-wrapper{
  margin: 10vh 10vw 10vh 10vw;
}

.requirements-steps-outer{
  background-color: #ffffff;
  border-radius: 50px;
  margin: 20px;
}

.requirements-steps{
  width: 100%;
  text-align: center;
  color: #0A1045;
  padding: 20px;
}
