// Specific CSS for your home-page

.home-wrapper{
  margin: 10vh 10vw 10vh 10vw;
}

.requirements-steps-outer{
  margin-top: 5px;
  margin-bottom: 5px;
}

.requirements-steps{
  height: 100%;
  background-color: #FDF9FA;
  border-radius: 15px;
  text-align: center;
  padding: 35px;
  margin: 5px;
}

.home-cta{
  margin: 10vh 10vw 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
