<h1>Generate stories using your favourite flashcard decks!</h1>
<p>This website allows you to upload your language-learning flashcards and uses the ChatGPT API to generate a story using words you are currently learning. The aim is to give you the opportunity to encounter these words in a more realistic context to enable retention.</p>
<p>You can also create an account if you wish to save the stories you have generated.</p>
